[Unit]
Description=Rabbitmq Exporter
After=network.target

[Service]
Type=simple
PIDFile=/var/run/rabbitmq_exporter.pid
{% for flag, flag_value in rabbitmq_exporter_config_flags.iteritems() %}
Environment="{{ flag }}={{ flag_value }}"
{% endfor %}
ExecStart=/opt/rabbitmq_exporter/rabbitmq_exporter

SyslogIdentifier=rabbitmq_exporter
Restart=always

[Install]
WantedBy=multi-user.target
