[
  {rabbit, [
    {tcp_listeners, [
      { "127.0.0.1", {{ rabbitmq_port }} },
      { "{{ rabbitmq_address }}", {{ rabbitmq_port }} }
    ]},
    {cluster_partition_handling, pause_minority},
    {vm_memory_high_watermark_paging_ratio, 0.75}
    {vm_memory_high_watermark, 0.66}
  ]}
].
